/* pic.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.center-content {
    text-align: center;
}

.title {
    font-size: 3em;
    margin-bottom: 10px;
}

.center-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.subtitle {
    font-size: 1.5em;
    color: #333;
}
